/* Background Image  */
body {
  background-image: url("gtpfbg.png");
}

/* ID for Contact Page Submit Button  */
#contact-button {
  margin: 10px;
}

/* Container Class Width and Margin  */
.container {
  width: auto;
  margin: auto;
}

/* Main Containers ID  */
#main-container {
  background-color: whitesmoke;
  margin: 30px;
}

/* Chea's Cat Image  */
#chea-cat {
    width: 150px;
    margin: 15px;
    float: left;
}