/* Background Image  */
body {
  background-image: url("gtpfbg.png");
}

/* ID for Contact Page Submit Button  */
#contact-button {
  margin: 10px;
}

/* Container Class Width and Margin  */
.container {
  width: auto;
  margin: auto;
}

/* Contact Form background color  */
#contact-form {

  background-color: whitesmoke;
  margin: 30px;
}
